<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8">
<title>月度总结</title>
<link rel="stylesheet" />
<link rel="stylesheet" href="css/Site.css" />
<link rel="stylesheet" href="css/zy.all.css" />
<link rel="stylesheet" href="css/font-awesome.min.css" />
<link rel="stylesheet" href="css/amazeui.min.css" />
<link rel="stylesheet" href="css/admin.css" />
<script src="js/vue.js"></script>
</head>

<body>
	<div class="dvcontent">

		<div>
			<!--tab start-->
			<div class="tabs">
				<div class="hd">
					<ul>
						<li class="on"
							style="box-sizing: initial; -webkit-box-sizing: initial;">月底结存</li>
					</ul>
				</div>
				<div class="bd" id="tbRecord">
					<form action="" method="post"
						style="position: absolute; right: 50px;">
						<input type="month" id="month"> <input type="button" onclick="refresh()"
							id="submit" value="查询">
					</form>
					<ul style="display: block; padding: 20px;">
						<li>
							<!--分页显示角色信息 start-->
							<div id="dv1">
								<script src="js/xlsx.full.min.js" async></script>
								<script>
									function fnExcelReport(elm, fn) {
										var workbook = XLSX.utils
												.table_to_book(elm);
										//sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  
										// return (sa);
										XLSX.writeFile(workbook, fn + ".xlsx");
									}
								</script>
								
								<table id="tbal" class="table intab">
								<caption><p style="margin-left:50px;margin-top: 20px;">该月出入库情况<input type="button" id="expxls" value="导出excel"
									style="float: right;"
									onclick="fnExcelReport(tbal,month.value+'出入库情况')" /></p> </caption>
									<thead>
										
										<tr>
											<th>单号</th>
											<th>物料名称</th>
											<th>供应商</th>
											<th>物料ID</th>
											<th>入库数量</th>
											<th>入库时间</th>
											<th>入库类型</th>
											<th>操作员</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, index) in computedList.listall">
											<td>{{ item.Ono }}</td>
											<td>{{ item.Mname }}</td>
											<td>{{ item.Sup }}</td>
											<td>{{ item.Mno }}</td>
											<td>{{ item.QTY }}</td>
											<td>{{ new
												Date(item.Odate).toLocaleDateString(undefined,{ weekday:
												'long', year: 'numeric', month: 'long', day: 'numeric',hour12:false,hour:'2-digit',minute:'2-digit',second:'2-digit' })}}</td>
											<td>{{ item.Otype }}</td>
											<td>{{ item.Sname }}</td>
										</tr>
									</tbody>

								</table>
							</div> <!--分页显示角色信息 end-->
						</li>
					</ul>
					
					<ul style="display: block; padding: 20px;">
						<li>
							<!--分页显示角色信息 start-->
							<div id="dv1">
							
								<table id="tbsm" class="table ontab">
								<caption><p style="margin-top: 20px; margin-left: 50px;">该月结余<input type="button" id="expxls" value="导出excel"
									style="float: right; margin-left: 10px"
									onclick="fnExcelReport(tbsm,month.value+'月末结余')" /></p></caption>
									<thead>
										<tr>
											<th>物料ID</th>
											<th>物料名称</th>
											<th>供货单位</th>
											<th>结余</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(item, index) in computedList.listsum">
											<td>{{ item.Mno }}</td>
											<td>{{ item.Mname }}</td>
											<td>{{ item.Sup }}</td>
											<td>{{ item.Mqty }}</td>
										</tr>
									</tbody>

								</table>
							</div> <!--分页显示角色信息 end-->
						</li>
					</ul>
					<!-- content start -->

					<div class="am-cf admin-main" style="padding-top: 0px;">
						<!-- content start -->

						<!-- content end -->
						<script src="js/jquery-1.7.2.min.js" type="text/javascript"></script>
						<script src="js/plugs/Jqueryplugs.js" type="text/javascript"></script>
						<script src="js/_layout.js"></script>
						<script src="js/plugs/jquery.SuperSlide.source.js"></script>
						<script>
															var invl = new Vue(
															{
																el : '#tbRecord',
																data : {
																	list : {}
																},
																computed : {
																	computedList : function() {
																		return this.list;
																	}
																},
																methods : {}
															});
						month.value=new Date().getFullYear()+"-"+new Date().toLocaleDateString("en-us",{month:"2-digit"});
							function refresh() {
								fetch("/sumquery?yr="+month.value.split("-")[0]+"&mo="+month.value.split("-")[1]).then(function(response) {
									response.json().then(function(text) {
										invl.list = text;
									});
								});

							}
						</script>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>